{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}My Blog{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<!-- <script src="{% static 'js/palette-switcher.js' %}"></script> -->
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/admin">Admin</a>
    </div> 
    <div id='content'>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>